html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
html{ position: relative;}
.b-container{
    padding-top: 53px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.b-table{
    border-collapse: collapse;
}
.b-table__header{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    max-width: 1170px;
    height: 30px;
    background-color: #fff;
}
.b-radiobuttons{ margin-left: 10px; }
.b-radiobuttons__input{ display: none; }
.b-radiobuttons__radio-label{
    display: inline-block;
    width: 100px;
    height: 23px;
    cursor: pointer;
    text-align: center;
    background-color: #d2d3d3;
    text-transform: uppercase;
    color:  #0f2d50;
    border-top-left-radius: 15% 160%;
    border-top-right-radius: 15% 160%;
    box-shadow: inset 0 -4px 3px -3px gray;
}
.b-radiobuttons__radio-label_active{
    position: relative;
    z-index: 1;
    box-shadow: none;
}
.b-radiobuttons__radio-label_passive{
    position: relative;
    z-index: 0;
    background-color: #ebebeb;
}
.b-radiobuttons__radio-label_margin{
    margin-left: -5px;
}
.b-table__row{
    display: table;
    width: 100%;
    position: relative;
}
.b-table__cell{
    display: table-cell;
    box-sizing: border-box;
    text-align: left;
    vertical-align: middle;
    min-height: 30px;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
.b-big-plane-type{ display: inline;}
.b-small-plane-type{ display: none;}
.b-table__cell_w5{ width: 5%; }
.b-table__cell_w7{ width: 7%; }
.b-table__cell_w8{ width: 8%; }
.b-table__cell_w10{ width: 10%; }
.b-table__cell_w12{ width: 12%; }
.b-table__cell_w15{ width: 15%; }
.b-table__cell_w20{ width: 20%; }
.b-flight-departure{
    width: 24px;
    height: 19px;
    background: url(../img/plane.png) no-repeat 0 0;
}
.b-flight-arrival{
    width: 24px;
    height: 19px;
    background: url(../img/plane.png) no-repeat -24px 0;
}
.b-table__cell_name{ text-transform: uppercase;}
.b-table__row_header{
    background-color: #d2d3d3;
    text-transform: uppercase;
    color: #0f2d50;
    border-radius: 5px 5px 0 0;
}
.b-table__row_content{ cursor: pointer; }
/*.b-table__row_content:nth-of-type(2n+1){ background-color: #ebebeb; }*/
.b-table__row_darkBG{ background-color: #ebebeb; } /*class for JavaScript*/
.b-cell-image{
    width: 100%;
    max-width: 110px;
    height: auto;
    vertical-align: middle;
}
.b-status{ display: none; }
.active-status { display: inline; }
.b-table__cell_direction{  color: #0f2d50; }
.b-table__row_content:hover{ background-color: rgba(0, 0, 0, .2); }
/*----------------- pop-up styles -----------------*/
.b-popUp-outer{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
}
.b-popUp-inner{
    position: relative;
    margin: 0 auto;
    width: 90%;
    text-transform: uppercase;
}
.b-popUp-close{
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: 2;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: rgba(0, 0, 0, .5);
}
.b-popUp-close:hover{ color: rgba(0, 0, 0, .5); background: rgba(255, 0, 0, .6); }
.b-table__row_popUp{ background-color: #fff; }
.b-table__row_popUp:nth-of-type(2n+1){ background-color: #ebebeb; }
.b-table__cell_header,
.b-table__cell_tmp-cont{ width: 50%; }
/*----------------- media-queries -----------------*/
@media only screen and (max-width: 968px){
    .b-big-plane-type{ display: none;}
    .b-small-plane-type{ display: inline;}
    .b-table__cell_header-note, .b-table__cell_note,
    .b-table__cell_header-logo, .b-table__cell_logo,
    .b-table__cell_header-status, .b-table__cell_status{ display: none; }
    .b-table__cell_w5{ width: 10%; }
    .b-table__cell_w7{ width: 15%; }
    .b-table__cell_w8{ width: 15%; }
    .b-table__cell_w15{ width: 20%; }
    .b-table__cell_w20{ width: 30%; }
}
@media only screen and (max-width: 690px){
    .b-table__cell_header-name, .b-table__cell_name{ display: none; }
    .b-table__cell_w5{ width: 10%; }
    .b-table__cell_w7{ width: 20%; }
    .b-table__cell_w8{ width: 20%; }
    .b-table__cell_w20{ width: 40%; }
}
@media only screen and (max-width: 480px){
    .b-table__cell_header-flight-type, .b-table__cell_flight-type,
    .b-table__cell_header-plane-type, .b-table__cell_plane-type{ display: none; }
    .b-table__cell_w5{ width: 30%; }
    .b-table__cell_w20{ width: 40%; }
}